
body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #00FFFF;
}

.quem-somos {
    background-color: #7401DF;
    color: white;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #BF00FF;
    color: white
}

.bg-footer {
    background-color: black;
    color: white;
}